DataSource.Common/Service References/DataService/DataService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DataService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55571/DataService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55571/DataService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55571/DataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BuildWatch.ControlServer" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDataService_GetProtocolVersion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProtocolVersion" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetProtocolVersion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProtocolVersionResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetDataSourceConfig_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataSourceConfig" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetDataSourceConfig_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataSourceConfigResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_PushFinishedBuilds_InputMessage">
    <wsdl:part name="parameters" element="tns:PushFinishedBuilds" />
  </wsdl:message>
  <wsdl:message name="IDataService_PushFinishedBuilds_OutputMessage">
    <wsdl:part name="parameters" element="tns:PushFinishedBuildsResponse" />
  </wsdl:message>
  <wsdl:portType name="IDataService">
    <wsdl:operation name="GetProtocolVersion">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetProtocolVersion" message="tns:IDataService_GetProtocolVersion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetProtocolVersionResponse" message="tns:IDataService_GetProtocolVersion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataSourceConfig">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetDataSourceConfig" message="tns:IDataService_GetDataSourceConfig_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetDataSourceConfigResponse" message="tns:IDataService_GetDataSourceConfig_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PushFinishedBuilds">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/PushFinishedBuilds" message="tns:IDataService_PushFinishedBuilds_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/PushFinishedBuildsResponse" message="tns:IDataService_PushFinishedBuilds_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDataService" type="tns:IDataService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProtocolVersion">
      <soap:operation soapAction="http://tempuri.org/IDataService/GetProtocolVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataSourceConfig">
      <soap:operation soapAction="http://tempuri.org/IDataService/GetDataSourceConfig" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PushFinishedBuilds">
      <soap:operation soapAction="http://tempuri.org/IDataService/PushFinishedBuilds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataService">
    <wsdl:port name="BasicHttpBinding_IDataService" binding="tns:BasicHttpBinding_IDataService">
      <soap:address location="http://localhost:55571/DataService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>