DataSource.Common/Service References/DataService/DataService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BuildWatch.ControlServer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BuildWatch.ControlServer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GetDataSourceConfigRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetDataSourceConfigRequest" nillable="true" type="tns:GetDataSourceConfigRequest" />
  <xs:complexType name="GetDataSourceConfigResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConfigEntries" nillable="true" type="tns:ArrayOfConfigEntry" />
      <xs:element minOccurs="0" name="DataSourceId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetDataSourceConfigResponse" nillable="true" type="tns:GetDataSourceConfigResponse" />
  <xs:complexType name="ArrayOfConfigEntry">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ConfigEntry" nillable="true" type="tns:ConfigEntry" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfConfigEntry" nillable="true" type="tns:ArrayOfConfigEntry" />
  <xs:complexType name="ConfigEntry">
    <xs:sequence>
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConfigEntry" nillable="true" type="tns:ConfigEntry" />
  <xs:complexType name="PushFinishedBuildsRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="BuildInfo" nillable="true" type="tns:ArrayOfFinishedBuildInfo" />
      <xs:element minOccurs="0" name="CheckedBuildInstance" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataSourceId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PushFinishedBuildsRequest" nillable="true" type="tns:PushFinishedBuildsRequest" />
  <xs:complexType name="ArrayOfFinishedBuildInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FinishedBuildInfo" nillable="true" type="tns:FinishedBuildInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFinishedBuildInfo" nillable="true" type="tns:ArrayOfFinishedBuildInfo" />
  <xs:complexType name="FinishedBuildInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="BuildInstance" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BuildName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeStamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UserAction" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FinishedBuildInfo" nillable="true" type="tns:FinishedBuildInfo" />
  <xs:complexType name="PushFinishedBuildsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdditionalQueries" nillable="true" type="tns:ArrayOfQueryInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PushFinishedBuildsResponse" nillable="true" type="tns:PushFinishedBuildsResponse" />
  <xs:complexType name="ArrayOfQueryInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QueryInfo" nillable="true" type="tns:QueryInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQueryInfo" nillable="true" type="tns:ArrayOfQueryInfo" />
  <xs:complexType name="QueryInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="QueryBuildRange" nillable="true" type="tns:QueryBuildRangeInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QueryInfo" nillable="true" type="tns:QueryInfo" />
  <xs:complexType name="QueryBuildRangeInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="BuildName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RangeFrom" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RangeTo" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QueryBuildRangeInfo" nillable="true" type="tns:QueryBuildRangeInfo" />
</xs:schema>