BuildWatch/Service References/ClientService/ClientService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BuildWatch.ControlServer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BuildWatch.ControlServer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PollBuildStatusReq">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConfigurationId" type="xs:int" />
      <xs:element minOccurs="0" name="UpdateCounter" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PollBuildStatusReq" nillable="true" type="tns:PollBuildStatusReq" />
  <xs:complexType name="PollBuildStatusResp">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientEvents" nillable="true" type="tns:ArrayOfClientEvent" />
      <xs:element minOccurs="0" name="FinishedBuilds" nillable="true" type="tns:ArrayOfFinishedBuild" />
      <xs:element minOccurs="0" name="FinishedBuildsDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdateCounter" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PollBuildStatusResp" nillable="true" type="tns:PollBuildStatusResp" />
  <xs:complexType name="ArrayOfClientEvent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClientEvent" nillable="true" type="tns:ClientEvent" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClientEvent" nillable="true" type="tns:ArrayOfClientEvent" />
  <xs:complexType name="ClientEvent">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="ClientEvent" nillable="true" type="tns:ClientEvent" />
  <xs:complexType name="ArrayOfFinishedBuild">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FinishedBuild" nillable="true" type="tns:FinishedBuild" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFinishedBuild" nillable="true" type="tns:ArrayOfFinishedBuild" />
  <xs:complexType name="FinishedBuild">
    <xs:sequence>
      <xs:element minOccurs="0" name="BuildInstance" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BuildName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeStamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FinishedBuild" nillable="true" type="tns:FinishedBuild" />
</xs:schema>