BuildWatch/Service References/ClientService/ClientService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55571/ClientService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BuildWatch.ControlServer" />
  <xs:element name="GetProtocolVersion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProtocolVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetProtocolVersionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PollBuildStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BuildWatch.ControlServer" minOccurs="0" name="req" nillable="true" type="q1:PollBuildStatusReq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PollBuildStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BuildWatch.ControlServer" minOccurs="0" name="PollBuildStatusResult" nillable="true" type="q2:PollBuildStatusResp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>